version: '3'
services:
  admin:
    env_file: 
      - ./app/.env.local
    build:
      context: docker/node
    container_name: $PROJECT_NAME
    ports:
      - '5000:5000'
    volumes:
      - ./app:/app
    command: npm start

networks:
  default:
    external: 
      name: $NETWORK_NAME

