version: '3'
services:
  proxy:
    build:
      context: docker/nginx
    container_name: $PROJECT_NAME
    volumes:
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
      - ./docker/nginx/includes:/etc/nginx/includes
    ports:
      - 80:80

networks:
  default:
    external: 
      name: $NETWORK_NAME